@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes recruiter {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  
  
  .animate-recruiter {
    animation: recruiter 60s linear infinite;
  }

  